@model Obligatorio2023.Models.Alarma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alarma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatoEvaluar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatoEvaluar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comparador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comparador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
