@model IEnumerable<Obligatorio2023.Models.Alarma>

@{
    ViewData["Title"] = "Alarmas";
}

<h1>Alarmas</h1>
<p>Listado de las alarmas definidas por un médico o administrador</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatoEvaluar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorLimite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comparador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatoEvaluar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comparador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Id)
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration:none; color: red">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
