@model List<Obligatorio2023.Models.RegistroAlarma>

<h1>Registros de Alarmas Activadas </h1>

@*Preguntamos si el modelo no es nulo y si contiene por lo menos un elemento*@
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha y Hora de Generación</th>
                <th>Dato Evaluado</th>
                <th>Valor Limite</th>
                <th>Valor Recibido</th>
                <th>Alarma</th>
                <th>ID Dispositivo</th>
                <th>ID Paciente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var registro in Model)
            {
                <tr>
                    <td>@registro.FechaHoraGeneracion</td>
                    <td>@registro.DatoEvaluar</td>
                    <td>@registro.ValorLimite</td>
                    <td>@registro.ValorRecibido</td>
                    <td>@(registro.Alarma?.Nombre ?? "N/A")</td>
                    <td>@registro.IdDispositivo</td>
                    <td>@registro.IdPaciente</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay registros de alarma.</p>
}
